<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    hello springboot!
    <div id="login-div">
        <input type="text" placeholder="username" id="username" name="username" v-model="username"/>
        <input type="password" placeholder="password" id="password" name="password" v-model="password"/>
        <button v-on:click="login">login</button>
</div>
</body>
<script src="js/vue.min.js" type="text/javascript" charset="UTF-8"></script>
<script src="js/axios.js" type="text/javascript" charset="UTF-8"></script>
<script src="js/jquery.js" type="text/javascript" charset="UTF-8"></script>
<script src="js/layer/layer.js" type="text/javascript" charset="UTF-8"></script>
<script src="js/login.js" charset="UTF-8" type="text/javascript"></script>
</html>